body {
    background:#ffffff; 
  }
header {
    display: block;
    background-color: #ffffff;
    box-sizing: 100%;
  }
div {
    display: block;
    background-color:#4aaaa5;
  }
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
  }
