body {
    background:#ffffff; 
  }
#content {
    display: block;
    background-color: #ffffff;
    box-sizing: 100%;
    border-bottom: solid #cccccc;
    border-bottom-width:  medium;
    width: 100%;
  }
div {
    display: block;
    width: 200px;
    height: 40px;
    background-color:#4aaaa5;
    
  }
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
  }
